@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #e2e2e2;
}

.alinhar {
    text-align: right;
}

.card {
    margin-bottom: 1em;
    background: #f6f6f6;
}